In [1]:
import requests
import numpy as np
import pandas as pd
import datetime

In [2]:
API_ENDPOINT_URL =  'http://lauzhack.sqpub.ch/histo_prices'

r = requests.get(API_ENDPOINT_URL)

In [3]:
raw_data = r.text.split('\n')

In [4]:
data_series = pd.Series(raw_data)
data_series = data_series.str.split(' ')

data = pd.DataFrame(data_series.values.tolist(), index=data_series.index)
data.columns = ['timestamp', 'price']
data['timestamp'] = pd.to_datetime(data.timestamp)
data.set_index('timestamp', inplace=True)
data['price'] = data['price'].astype(float)

for d in data['price']:
    if d is not NaN:
        value = d
    else 
        data['price'][d]=value

In [5]:
data.head()

                       price
timestamp
2018-11-16 23:59:00  5433.87
2018-11-19 00:00:05  5536.29
2018-11-19 00:00:20  5534.45
2018-11-19 00:01:00  5534.61
2018-11-19 00:02:00  5541.78

In [7]:
mean_minute = data.groupby(pd.Grouper(freq='60s')).mean()

mean_minute

                           price
timestamp
2018-11-16 23:59:00  5433.870000
2018-11-17 00:00:00          NaN
2018-11-17 00:01:00          NaN
2018-11-17 00:02:00          NaN
2018-11-17 00:03:00          NaN
2018-11-17 00:04:00          NaN
2018-11-17 00:05:00          NaN
2018-11-17 00:06:00          NaN
2018-11-17 00:07:00          NaN
2018-11-17 00:08:00          NaN
2018-11-17 00:09:00          NaN
2018-11-17 00:10:00          NaN
2018-11-17 00:11:00          NaN
2018-11-17 00:12:00          NaN
2018-11-17 00:13:00          NaN
2018-11-17 00:14:00          NaN
2018-11-17 00:15:00          NaN
2018-11-17 00:16:00          NaN
2018-11-17 00:17:00          NaN
2018-11-17 00:18:00          NaN
2018-11-17 00:19:00          NaN
2018-11-17 00:20:00          NaN
2018-11-17 00:21:00          NaN
2018-11-17 00:22:00          NaN
2018-11-17 00:23:00          NaN
2018-11-17 00:24:00          NaN
2018-11-17 00:25:00          NaN
2018-11-17 00:26:00          NaN
2018-11-17 00:27:00          NaN
2018-11-17 00:28:00          NaN
...                          ...
2018-11-23 23:30:00  4267.040000
2018-11-23 23:31:00  4290.000000
2018-11-23 23:32:00  4289.970000
2018-11-23 23:33:00  4289.350000
2018-11-23 23:34:00  4282.920000
2018-11-23 23:35:00  4279.720000
2018-11-23 23:36:00  4289.560000
2018-11-23 23:37:00  4289.130000
2018-11-23 23:38:00  4266.000000
2018-11-23 23:39:00  4277.260000
2018-11-23 23:40:00          NaN
2018-11-23 23:41:00  4289.450000
2018-11-23 23:42:00  4291.010000
2018-11-23 23:43:00  4292.000000
2018-11-23 23:44:00  4292.000000
2018-11-23 23:45:00  4301.040000
2018-11-23 23:46:00  4301.040000
2018-11-23 23:47:00  4300.000000
2018-11-23 23:48:00  4294.859999
2018-11-23 23:49:00  4290.000000
2018-11-23 23:50:00  4286.069999
2018-11-23 23:51:00  4290.000000
2018-11-23 23:52:00  4301.040000
2018-11-23 23:53:00  4301.040000
2018-11-23 23:54:00  4307.000000
2018-11-23 23:55:00  4311.650000
2018-11-23 23:56:00  4320.040000
2018-11-23 23:57:00  4332.000000
2018-11-23 23:58:00  4332.000000
2018-11-23 23:59:00  4333.760000

[10081 rows x 1 columns]

In [ ]:
plt.plot()